<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.maelys.egress</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/maelys-egress</string>
    <string>serve</string>
    <string>--config</string>
    <string>/usr/local/etc/maelys-egress.conf</string>
    <string>--non-interactive</string>
  </array>
  <key>UserName</key>
  <string>_maelys-egress</string>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>2</integer>
  <key>StandardOutPath</key>
  <string>/var/log/maelys-egress.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/maelys-egress.log</string>
</dict>
</plist>
